body{
    background-color: #282828;
}

/* ===== HEADER ===== */
/*====== div-head-container-tidakdigunakan sementara*=====*/
.div-head-container {
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}
.judul-halaman  {
    width: 70px;
    height: fit-content;
    color: #f4f4f4;
    background-color: #00265c;
    justify-self: left;
    padding-top: 6px;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}
.row-position {
    display: flex;
    justify-content: center;
}
.row-position:not(:last-child) {
    margin-bottom: 10px;
}
.row-position div {
    margin: 0 10px;
}

.structure-card {
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent; /* Warna latar belakang kotak */
    margin-right: 5px;
    margin-left: 5px;
}

.structure-card:hover {
    background-color: rgb(0, 102, 255); /* Warna latar belakang saat hover */
    border: 2px solid rgb(0, 102, 255);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.structure-img {
  width: 16vw;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  display: block;
}
.card-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-img:hover {
    transform: scale(1.05);   
}
.position-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.position-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width: 1200px) {
    .div-head-container {
        height: fit-content;
    }
    .position-1 {
        margin-bottom: 0px;
    }
    .position-2 {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .structure-card {
        margin-bottom: 10px;
    }
    .structure-img {
        width: 45vw; /* Mengubah lebar gambar untuk perangkat kecil */
        aspect-ratio: 4 / 5; /* Mempertahankan rasio aspek */
    }
}

/* ===== MAIN ===== */
.text-decoration-none {
  text-decoration: none;
  color: #fff;
}
.text-decoration-none:hover {
  color: #00265c
}
.div-main-container {
    margin-top: 0px; 
    height: fit-content; 
    text-align: center;
    padding-top: 50px;
    flex-direction: row;
}
.judul-box {
    background-color: #ffffff; /* Warna latar belakang untuk judul */
    padding: 20px;
}
.judul-box2 {
    background-color: transparent;
}
.judul-text {
    text-align: center;
}
.perataan-text {
    text-align: justify;
}
.perataan-tengah-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.div-sec-container {
    padding: 20px;
    background-color: #ffffff; /* Warna latar belakang untuk section */
    border-radius: 10px; /* Sudut melengkung */
    margin-bottom: 20px; /* Jarak antar section */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div-sec {
    width: 25vw;
    padding: 15px;
}
.detail-judul-box {
    height: 60px;
}
.div-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    justify-self: end;
    margin-bottom: 10px;
}
.div-img:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
    transition: transform 0.3s ease; /* Transisi halus */
}

@media screen and (max-width: 1000px) {
    .div-main-container {
        height: fit-content;
    }
    .div-sec-container{
        flex-direction: column;
    }
    .div-sec {
        width: 100%;
        padding: 10px;
        margin-bottom: 50px;
    }
    .detail-judul-box {
        height: fit-content;
    }
}

/* ===== Section Ketua Umum ===== */
.color-ketua {
    background-color: cornflowerblue;
}
#ketua {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}

/* ===== Section Wakil Ketua Umum ===== */
.color-wakil-ketua {
    background-color: chocolate; /* Warna coklat */
}
#wakil_ketua {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}

/* ===== Section Sekretaris ===== */
.color-sekretaris {
    background-color: brown; /* Warna coklat */
}
#sekretaris {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}
/* ===== Section Bendahara ===== */
.color-bendahara {
    background-color: palevioletred; /* Warna oranye tua */
}
#bendahara {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}
/* ===== Section Divisi Informasi ===== */
.color-divisi-informasi {
    background-color: rgb(80, 121, 0); /* Warna biru muda */
}
#divisi_informasi {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}

/* ===== Section Divisi Teknologi ===== */
.color-divisi-teknologi {
    background-color: rgb(2, 96, 96); /* Warna hijau muda */
}
#divisi_teknologi {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}

/* ===== Section Divisi Komunikasi ===== */
.color-divisi-komunikasi {
    background-color: #337ab7; /* Warna merah muda */
}
#divisi_komunikasi {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}
#bendahara {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}
/* ===== Section Divisi Pengembangan ===== */
.color-divisi-pengembangan {
    background-color: #b79d33; /* Warna merah tua */
}
#divisi_pengembangan {
  scroll-margin-top: 100px; /* atau sesuai tinggi navbar kamu */
}